Data preparing for neural network training. We will use the average performance of a team of two previous years' TourneyCompactResult and current year's RegularSeasonDetailedResults as X_train, plus two features: previous two years' Tourney match number and current year's win_rate. The train data format is h(win_team_detail_result + lose_team_detail_result) = 1 and h(lose_team_detail_result + win_team_detail_result) = 0.
To predict 2017's result, we will need 2017's regular seson detail result.

In [7]:
import sys
import numpy as np
import pandas as pd
import matplotlib
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import roc_auc_score
from sklearn.utils import shuffle
#from sklearn.model_selection import cross_val_score
#from sklearn.model_selection import GridSearchCV
#from sklearn.metrics import roc_curve, auc
#from sklearn import metrics
#from sklearn.cross_validation import train_test_split

In [9]:
data = {}
csv = ['/RegularSeasonCompactResults.csv',
'/RegularSeasonDetailedResults.csv',
'/Seasons.csv',
'/Teams.csv',
'/TourneyCompactResults.csv',
'/TourneyDetailedResults.csv',
'/TourneySeeds.csv',
'/TourneySlots.csv',
'/sample_submission.csv']
path = "/Users/wangliran/Desktop/kaggle/March-Machine-Learning-Mania-2017/data"
for file in csv:
    data[file[1:-4]] = pd.read_csv(path+file)
    print(data[file[1:-4]].head(5))
# df_seeds = pd.read_csv(path + csv[6])
# df_tour = pd.read_csv(path + csv[4])
#print(data["TourneySeeds"].head())

# seed = data["TourneySeeds"]
# seed["Wteam"] = seed["Team"]

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  Wfgm  Wfga ...   \
0    2003      10   1104      68   1328      62    N      0    27    58 ...
1    2003      10   1272      70   1393      63    N      0    26    62 ...
2    2003      11   1266      73   1437      61    N      0    24    58 ...
3    2003      11   1296      56   1457      50    N      0    18    38 ...
4    2003      11   1400      77   1208      71    N      0    30    61 ...

   Lfga3  Lftm  Lfta  Lor  Ldr  Last  Lto  Lstl  Lblk  Lpf
0     10    16    22   10   22     8   18     9     2   20
1     24     9    20   20   25     7   12     8     6   16
2     26    14    23   31   22     9   12     2     5   23
3     22     8    15   17   20     9   19     4     3   23
4     16    17    27   21   15    12   10     7     1   14

[5 rows x 34 columns]
   Season     Dayzero Regionw    Regionx    Regiony    Regionz
0    1985  10/29/1984    East       West    Midwest  Southeast
1    1986  10/28/1985    East    Midwest  Southeast       West
2    1987  10/27/1986    East  Southeast    Midwest       West
3    1988   11/2/1987    East    Midwest  Southeast       West
4    1989  10/31/1988    East       West    Midwest  Southeast
   Team_Id    Team_Name
0     1101  Abilene Chr
1     1102    Air Force
2     1103        Akron
3     1104      Alabama
4     1105  Alabama A&M
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985     136   1116      63   1234      54    N      0
1    1985     136   1120      59   1345      58    N      0
2    1985     136   1207      68   1250      43    N      0
3    1985     136   1229      58   1425      55    N      0
4    1985     136   1242      49   1325      38    N      0
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot  Wfgm  Wfga ...   \
0    2003     134   1421      92   1411      84    N      1    32    69 ...
1    2003     136   1112      80   1436      51    N      0    31    66 ...
2    2003     136   1113      84   1272      71    N      0    31    59 ...
3    2003     136   1141      79   1166      73    N      0    29    53 ...
4    2003     136   1143      76   1301      74    N      1    27    64 ...

   Lfga3  Lftm  Lfta  Lor  Ldr  Last  Lto  Lstl  Lblk  Lpf
0     31    14    31   17   28    16   15     5     0   22
1     16     7     7    8   26    12   17    10     3   15
2     28    14    21   20   22    11   12     2     5   18
3     17    12    17   14   17    20   21     6     6   21
4     21    15    20   10   26    16   14     5     8   19

[5 rows x 34 columns]
   Season Seed  Team
0    1985  W01  1207
1    1985  W02  1210
2    1985  W03  1228
3    1985  W04  1260
4    1985  W05  1374
   Season  Slot Strongseed Weakseed
0    1985  R1W1        W01      W16
1    1985  R1W2        W02      W15
2    1985  R1W3        W03      W14
3    1985  R1W4        W04      W13
4    1985  R1W5        W05      W12
               id  pred
0  2013_1103_1107   0.5
1  2013_1103_1112   0.5
2  2013_1103_1125   0.5
3  2013_1103_1129   0.5
4  2013_1103_1137   0.5

Notice that compact result ranges from 1985-2016, while detailed result only ranges from 2003-2016. We will use the detailed result data, so we start from 2003.

Our aim: 1. get regular season win_rate
         2. get tourney season match number

In [42]:
def get_regular_win_rate(team, season): #int, int
    d = data["RegularSeasonCompactResults"][data["RegularSeasonCompactResults"]["Season"] == season]
    team_season_filter = (d["Wteam"] == team) | (d["Lteam"] == team) 
    team_win_filter = (d["Wteam"] == team) 
    #print d[team_season_filter]
    return float(d[team_win_filter].shape[0])/d[team_season_filter].shape[0]
get_regular_win_rate(1272, 2006)

0.9090909090909091

In [58]:
def get_match_number(team, season):
    d = data["TourneyCompactResults"][data["TourneyCompactResults"]["Season"] == season]
    team_season_filter = (d["Wteam"] == team) | (d["Lteam"] == team) 
    return d[team_season_filter].shape[0]
get_match_number(1272, 2006)

4

Now we consider the average performance of each team in season_list

In [173]:
def get_team_detail(tp, team, season_list):
    if tp == "regular":
        d = data["RegularSeasonDetailedResults"]
    elif tp == "tourney":
        d = data["TourneyDetailedResults"]
    team_win_filter = (d["Wteam"] == team) & (d["Season"]>= season_list[0]) & (d["Season"]<= season_list[-1])
    team_lose_filter = (d["Lteam"] == team) & (d["Season"]>= season_list[0]) & (d["Season"]<= season_list[-1])
    win_detail_col = ["Wteam", "Wscore", "Wfgm", "Wfga", "Wfgm3", "Wfga3", "Wftm", "Wfta",
                     "Wor", "Wdr", "Wast", "Wto", "Wstl", "Wblk", "Wpf"]
    lose_detail_col = ["Lteam", "Lscore", "Lfgm", "Lfga", "Lfgm3", "Lfga3", "Lftm", "Lfta",
                      "Lor", "Ldr", "Last", "Lto", "Lstl", "Lblk", "Lpf"]
    d1 = pd.DataFrame()
    combined1 = d[team_win_filter][win_detail_col]
    combined2 = d[team_lose_filter][lose_detail_col]
    d1[win_detail_col] = combined2[lose_detail_col]
    #combined = combined1.append(combined2)
    combined = combined1.append(d1)
    print(combined)
    temp1 = 0
    temp2 = 0
    for year in season_list:
        temp1 += get_regular_win_rate(team, year)
        temp2 += get_match_number(team, year)
    combined["win_rate"] = temp1/len(season_list)
    combined["game_number"] = temp2/len(season_list)
    return combined
a = get_team_detail("tourney", 1272, [2004,2005,2006])
b = get_team_detail("regular", 1272, [2006])
c = a.append(b)
d = c.apply(np.mean)
d["Season"] = 2006
print(d)

     Wteam  Wscore  Wfgm  Wfga  Wfgm3  Wfga3  Wftm  Wfta  Wor  Wdr  Wast  Wto  \
87    1272      59    23    59      9     27     4     7   14   22    16    9
216   1272      94    37    61     11     22     9    16   12   21    16   13
237   1272      72    23    48      7     16    19    26    7   18    15    9
242   1272      80    31    60      6     15    12    18   11   30    11   13
108   1272      53    20    50      6     17     7    14   11   11     9   12
250   1272      45    17    54      2     17     9    15   16   25     5   18

     Wstl  Wblk  Wpf
87      3     4   15
216    10     2   21
237    10     2   20
242    10     7   18
108     6     3   15
250     8     1   29
       Wteam  Wscore  Wfgm  Wfga  Wfgm3  Wfga3  Wftm  Wfta  Wor  Wdr  Wast  \
13919   1272      79    27    61      6     21    19    26   10   35    17
13936   1272      87    33    70      5     14    16    26   15   28    14
14209   1272      88    31    58      8     17    18    28   12   28    12
14386   1272     108    39    80      6     21    24    45   30   35    18
14474   1272      97    32    65     14     30    19    26   14   34    25
14599   1272      91    32    75     11     21    16    25   19   26    18
14855   1272      97    29    52     12     24    27    36   14   19    20
15035   1272      72    28    64      5     19    11    17   16   34     9
15158   1272      76    29    72      8     25    10    17   23   22    17
15327   1272      83    31    63      8     25    13    25   11   31    18
15474   1272      90    35    71      7     15    13    17   19   22    19
15684   1272      83    30    60      6     18    17    23   15   23    18
15907   1272      73    25    52      9     26    14    17   10   20    16
15995   1272      77    26    71     10     35    15    20   19   26    18
16150   1272      73    28    55      8     16     9    18   11   20    19
16316   1272      88    29    67      8     27    22    29   15   34    17
16473   1272      85    27    50      5     12    26    38   10   22    14
16688   1272      73    25    68     10     30    13    21   25   29    16
16793   1272      94    29    57     10     21    26    34   14   24    20
16969   1272      84    29    59      5     16    21    35   17   21    16
17115   1272      84    26    61      9     31    23    26   17   20    16
17438   1272      91    31    63      8     19    21    28   17   21    17
17572   1272      80    26    62      3     13    25    28   15   32    11
17764   1272     105    42    73     10     15    11    15   15   23    25
17921   1272      66    23    58      4     15    16    24   14   21     8
18070   1272      78    23    54      6     22    26    41   13   29    13
18379   1272      69    20    49      6     18    23    34   12   29    12
18523   1272      75    27    65     11     28    10    17   18   20    13
18573   1272      68    24    54      6     14    14    23   12   33    17
18603   1272      57    19    57      7     23    12    15   15   29    12
14234   1272      67    27    66      6     23     7    13   18   22    13
15610   1272      58    20    70      6     32    12    16   19   26    12
18286   1272      74    24    66      8     27    18    25   18   28     9

       Wto  Wstl  Wblk  Wpf
13919   14    12    11   25
13936   13     7     2   29
14209   19     6     5   23
14386   21    12    11   25
14474   22     9    15   13
14599   18    10     8   24
14855   19     8     3   23
15035   15     9     4   22
15158   18    18     8   12
15327    8     4     4   21
15474   21    14     7   22
15684   14    16     7   19
15907   15     8     8   14
15995   14    10     8   23
16150    9     7     8   14
16316   19     7    10   21
16473   12     6     1   30
16688   19     5     7   13
16793   15    12     6   15
16969   16    17     6   26
17115   18    14     7   20
17438   14     8     4   20
17572   14    16     9   16
17764   13    17     4   22
17921   13     9     6   19
18070   11     6     9   17
18379   20     3    10   23
18523   14    13     5   12
18573   17     6     8   18
18603   15     4     6   16
14234   13     9     6   23
15610   22    11     4   24
18286   17    10     6   23
Wteam          1272.000000
Wscore           78.794872
Wfgm             27.615385
Wfga             61.538462
Wfgm3             7.487179
Wfga3            21.205128
Wftm             16.076923
Wfta             23.692308
Wor              15.205128
Wdr              25.461538
Wast             15.153846
Wto              15.282051
Wstl              9.487179
Wblk              6.205128
Wpf              20.128205
win_rate          0.882970
game_number       3.692308
Season         2006.000000
dtype: float64

In [170]:
# def get_seed_num(season, team):
#     d = data["TourneySeeds"]
#     filter = (d["Team"] == team) & (d["Season"] == season)
#     return d[filter]["Seed"]
# get_seed_num(2006, 1272)
def seed_to_int(seed):
    """Get just the digits from the seeding. Return as int"""
    s_int = int(seed[1:3])
    return s_int
# data["TourneySeeds"]["n_seed"] = data["TourneySeeds"]["Seed"].apply(seed_to_int, axis=1)
# data["TourneySeeds"].drop(labels=['Seed'], inplace=True, axis=1)
# print(data["TourneySeeds"].head())
print(data["TourneySeeds"].head())

   Season  Team  n_seed
0    1985  1207       1
1    1985  1210       2
2    1985  1228       3
3    1985  1260       4
4    1985  1374       5

Prepare match detail for each seed starting from 2003, with n years' tourney, m years' regular match detail.

In [171]:
n = 2
m = 1
season_filter = data["TourneySeeds"]["Season"] >= 2003+n
seed_team = data["TourneySeeds"][season_filter]
print(seed_team.head())
print(seed_team.shape)
print(seed_team.iloc[0])
team_detail = pd.DataFrame()
for i in range(seed_team.shape[0]):
    team = seed_team.iloc[i]["Team"]
    year = seed_team.iloc[i]["Season"]
    a = get_team_detail("tourney", team, range(year-n, year))
    b = get_team_detail("regular", team, range(year+1-m, year+1))
    c = a.append(b)
    d = c.apply(np.mean)
    d["Season"] = year
    team_detail = team_detail.append(d, ignore_index=True)
print(team_detail.head())

      Season  Team  n_seed
1284    2005  1449       1
1285    2005  1448       2
1286    2005  1211       3
1287    2005  1257       4
1288    2005  1210       5
(798, 3)
Season    2005
Team      1449
n_seed       1
Name: 1284, dtype: int64
   Season       Wast      Wblk        Wdr       Wfga      Wfga3       Wfgm  \
0  2005.0  19.343750  2.687500  22.718750  65.062500  19.125000  31.625000
1  2005.0  15.444444  3.694444  25.583333  58.805556  18.777778  28.777778
2  2005.0  15.727273  3.424242  26.606061  55.575758  13.727273  27.606061
3  2005.0  15.970588  3.794118  25.882353  57.588235  24.176471  26.794118
4  2005.0  14.527778  4.888889  26.638889  58.694444  17.972222  26.444444

      Wfgm3       Wfta       Wftm        Wor        Wpf     Wscore      Wstl  \
0  7.406250  21.875000  16.000000  14.906250  20.968750  86.656250  8.281250
1  7.500000  26.833333  18.472222  13.555556  19.333333  83.527778  8.333333
2  5.121212  26.000000  19.303030  11.909091  17.636364  79.636364  5.424242
3  9.647059  23.176471  16.882353  12.647059  18.882353  80.117647  9.058824
4  5.888889  21.611111  14.833333  12.444444  19.972222  73.611111  8.416667

    Wteam        Wto  game_number  win_rate
0  1449.0  14.656250     2.906250  0.828183
1  1448.0  14.555556     2.000000  0.826817
2  1211.0  13.363636     2.000000  0.858968
3  1257.0  14.176471     4.647059  0.859838
4  1210.0  15.055556     2.166667  0.629340

In [172]:
team_season_detail = team_detail
print(team_season_detail.columns.tolist())

['Season', 'Wast', 'Wblk', 'Wdr', 'Wfga', 'Wfga3', 'Wfgm', 'Wfgm3', 'Wfta', 'Wftm', 'Wor', 'Wpf', 'Wscore', 'Wstl', 'Wteam', 'Wto', 'game_number', 'win_rate']

Now we will prepare training and testing data.

In [198]:
d = data["TourneyDetailedResults"]
d = d[d["Season"]>=2003+n]
print(d.iloc[0]["Season"])

win_detail_col = ['Wast', 'Wblk', 'Wdr', 'Wfga', 'Wfga3', 'Wfgm', 'Wfgm3', 'Wfta',
                  'Wftm', 'Wor', 'Wpf', 'Wscore', 'Wstl', 'Wto', 'game_number', 'win_rate']
lose_detail_col = ['Last', 'Lblk', 'Ldr', 'Lfga', 'Lfga3', 'Lfgm', 'Lfgm3', 'Lfta',
                  'Lftm', 'Lor', 'Lpf', 'Lscore', 'Lstl', 'Lto', 'Lgame_number', 'Lwin_rate']
w_filter = (team_detail["Season"] == d.iloc[0]["Season"]) & (team_detail["Wteam"]
                                                                     == d.iloc[0]["Wteam"])
l_filter = (team_detail["Season"] == d.iloc[0]["Season"]) & (team_detail["Wteam"]
                                                                     == d.iloc[0]["Lteam"])
wteam_detail = team_detail[w_filter][win_detail_col]
lteam_detail = team_detail[l_filter][win_detail_col]
wteam_detail[lose_detail_col] = lteam_detail[win_detail_col]
l = pd.DataFrame()
l[lose_detail_col] = lteam_detail[win_detail_col]
wteam_detail[lose_detail_col] = lteam_detail[win_detail_col]
# l1 = pd.concat([wteam_detail[win_detail_col], l], axis = 0)
l1 = wteam_detail[win_detail_col].append(l)

print(l1)
def prepare_train_test():
    train_test = pd.DataFrame
    for i in range(d.shape[0]):
        w_filter = (team_detail["Season"] == d.iloc[i]["Season"]) & (team_detail["Wteam"]
                                                                     == d.iloc[i]["Wteam"])
        l_filter = (team_detail["Season"] == d.iloc[i]["Season"]) & (team_detail["Wteam"]
                                                                     == d.iloc[i]["Lteam"])
        wteam_detail = team_detail[w_filter]
        lteam_detail = team_detail[l_filter]
        l_detail[lose_detail_col] = lteam_detail[win_detail_col] 
        
        result1[win_detail_col] = wteam_detail
        result1[lose_detail_col] = lteam_detail
        #result1 = pd.concat([wteam_detail, lteam_detail], axis=1)
        result1["label"] = 1
        #result2[win_detail_col]

2005
         Last      Lblk        Ldr  Lfga      Lfga3       Lfgm     Lfgm3  \
64        NaN       NaN        NaN   NaN        NaN        NaN       NaN
63  13.137931  3.862069  24.310345  59.0  20.241379  23.655172  6.103448

         Lfta       Lftm  Lgame_number    ...        Wfgm3       Wfta  \
64        NaN        NaN           NaN    ...     6.275862  21.034483
63  25.517241  15.655172           1.0    ...          NaN        NaN

         Wftm        Wor        Wpf     Wscore      Wstl        Wto  \
64  13.931034  11.862069  17.655172  70.344828  6.965517  12.034483
63        NaN        NaN        NaN        NaN       NaN        NaN

    game_number  win_rate
64          2.0   0.37931
63          NaN       NaN

[2 rows x 32 columns]

Reading the data: season + daynum + team as unique key.